name: C/C++ CI

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get install -y gcc make lcov

    - name: Build and Test
      run: |
        make all
        make coverage

    - name: List coverage reports
      run: ls ./build/gcov/*.gcov

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: |
          ./build/gcov/a.c.gcov
          ./build/gcov/b.c.gcov
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
